@model ConversationBuilder.DataModels.GenericDataStore

@{
	ViewData["Title"] = "Create";
	Layout = "~/Views/Shared/_Layout.cshtml";
	TempData.Keep("Message");
}
@section Styles {
	<link rel="stylesheet" href="~/css/themes/@ViewBag.CssFile" />	
}


<h3>Create generic data store</h3>
<hr />
<h5 style="color:red">@ViewBag.Message</h5>

<div class="row">
	<div class="col-md-4">
		<form asp-action="Create">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-group">
				<label asp-for="Name" class="control-label"></label>
				<input asp-for="Name" class="form-control" />
				<span asp-validation-for="Name" class="text-danger"></span>
			</div>

			<div class="form-group">
				<label asp-for="Description" class="control-label"></label>
				<textarea asp-for="Description" class="form-control"></textarea>
				<span asp-validation-for="Description" class="text-danger"></span>
			</div>
			@if(ViewBag.ShowBetaItems)
			{
			
				<div class="form-group">
					<label asp-for="ManagementAccess"></label>
					<select asp-for="ManagementAccess" class="form-control">
						<option value="Private">Private</option>
						<option value="Shared">Shared</option>
						<option value="Public" >Public</option>
					</select>
				</div>
			}
			<div class="form-group">
				<div class="checkbox">
					<label>
						<input asp-for="TreatKeyAsUtterance" /> @Html.DisplayNameFor(model => model.TreatKeyAsUtterance)
					</label>
				</div>
			</div>
			<div class="form-group">
				<div class="checkbox">
					<label>
						<input asp-for="ExactMatchesOnly" /> @Html.DisplayNameFor(model => model.ExactMatchesOnly)
					</label>
				</div>
			</div>
			<div class="form-group">					
				<label asp-for="WordMatchRule"></label>		
				<label title="Tell the intent system how to interpret the word comparison is it is not expecting an exact phrase match.">ℹ️</label>		
				<select asp-for="WordMatchRule" class="form-control">
					<option value="" selected></option>
					@foreach (KeyValuePair<string, string> item in @ViewBag.WordMatchRules)
					{
						<option value="@item.Key">@item.Value</option>
					}
				</select>
			</div>
			<div class="form-group">
				<input type="submit" value="Create" class="btn btn-default" />
			</div>
		</form>
	</div>
</div>

<div>
	@Html.ActionLink("Back to List", "Index",  "GenericDataStores") |
	@Html.ActionLink("Manage Data", "Manage",  "GenericDataStores")
</div>

@section Scripts {
	@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
