@model ConversationBuilder.DataModels.GenericDataStore

@{
	ViewData["Title"] = "Details";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles {
	<link rel="stylesheet" href="~/css/themes/@ViewBag.CssFile" />	
}


<h3>Details for generic data store @Html.DisplayFor(model => model.Name)</h3>
<hr />
<h5 style="color:red">@ViewBag.Message</h5>

<div>
	<dl class="dl-horizontal">
		<dt>
			@Html.DisplayNameFor(model => model.Id)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.Id)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.Name)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.Name)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.Description)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.Description)
		</dd>
		@if(ViewBag.ShowBetaItems)
		{			
			<dt>
				@Html.DisplayNameFor(model => model.ManagementAccess)
			</dt>
			<dd>
				@Html.DisplayFor(model => model.ManagementAccess)
			</dd>
			}
		<dt>
			@Html.DisplayNameFor(model => model.TreatKeyAsUtterance)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.TreatKeyAsUtterance)
		</dd>			
		<dt>
			@Html.DisplayNameFor(model => model.ExactPhraseMatchesOnly)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.ExactPhraseMatchesOnly)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.WordMatchRule)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.WordMatchRule)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.Updated)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.Updated)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.Created)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.Created)
		</dd>
	</dl>
</div>
<div>
	@Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
	@Html.ActionLink("Back to List", "Index", "GenericDataStores") |
	@Html.ActionLink("Manage Data", "Manage", "GenericDataStores", new {id = Model.Id })	
</div>
