@model ConversationBuilder.DataModels.Interaction

@{
	ViewData["Title"] = "Delete";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles {
	<link rel="stylesheet" href="~/css/themes/@ViewBag.CssFile" />	
}


@{
	var msg = "";
	if(ViewBag.CanBeDeleted)
	{
		msg = "Please confirm deletion of interaction " + Model.Name + "?";
	}
	else
	{
		
		msg = "Interaction " + Model.Name + " is in use in conversation group mappings and cannot be deleted.";
	}
}

<h3>@msg</h3>
<hr />
<h5 style="color:red">@ViewBag.Message</h5>

@if(@ViewBag.CanBeDeleted)
{
	<div>
		<dl class="dl-horizontal">
			<dt>
				@Html.DisplayNameFor(model => model.Id)
			</dt>
			<dd>
				@Html.DisplayFor(model => model.Id)
			</dd>
			<dt>
				@Html.DisplayNameFor(model => model.Name)
			</dt>
			<dd>
				@Html.DisplayFor(model => model.Name)
			</dd>
			<dt>
				@Html.DisplayNameFor(model => model.InteractionFailedTimeout)
			</dt>
			<dd>
				@Html.DisplayFor(model => model.InteractionFailedTimeout)
			</dd>
			
			<dt>
				@Html.DisplayNameFor(model => model.StartListening)
			</dt>
			<dd>
				@Html.DisplayFor(model => model.StartListening)
			</dd>
			<dt>
				@Html.DisplayNameFor(model => model.AllowKeyPhraseRecognition)
			</dt>
			<dd>
				@Html.DisplayFor(model => model.AllowKeyPhraseRecognition)
			</dd>
			<dt>
				@Html.DisplayNameFor(model => model.AllowConversationTriggers)
			</dt>
			<dd>
				@Html.DisplayFor(model => model.AllowConversationTriggers)
			</dd>
			<dt>
				@Html.DisplayNameFor(model => model.ConversationEntryPoint)
			</dt>
			<dd>
				@Html.DisplayFor(model => model.ConversationEntryPoint)
			</dd>

			@if(ViewBag.ShowBetaItems)
			{			
				<dt>
					@Html.DisplayNameFor(model => model.UsePreSpeech)
				</dt>
				<dd>
					@Html.DisplayFor(model => model.UsePreSpeech)
				</dd>					
				<dt>
					@Html.DisplayNameFor(model => model.PreSpeechPhrases)
				</dt>
				<dd>
					<textarea style="width:100%" rows=5 readonly=true>@Html.DisplayFor(model => model.PreSpeechPhrases)</textarea>						
				</dd>
				<dt>
					@Html.DisplayNameFor(model => model.AllowVoiceProcessingOverride)
				</dt>
				<dd>
					@Html.DisplayFor(model => model.AllowVoiceProcessingOverride)
				</dd>
				
				<dt>
					@Html.DisplayNameFor(model => model.ListenTimeout)
				</dt>
				<dd>
					@Html.DisplayFor(model => model.ListenTimeout)
				</dd>

				<dt>
					@Html.DisplayNameFor(model => model.SilenceTimeout)
				</dt>
				<dd>
					@Html.DisplayFor(model => model.SilenceTimeout)
				</dd>
			}
			<dt>
				@Html.DisplayNameFor(model => model.Updated)
			</dt>
			<dd>
				@Html.DisplayFor(model => model.Updated)
			</dd>
			<dt>
				@Html.DisplayNameFor(model => model.Created)
			</dt>
			<dd>
				@Html.DisplayFor(model => model.Created)
			</dd>
		</dl>

		<form asp-action="Delete">
			<input type="submit" value="Delete" class="btn btn-default" /> |
		</form>
	</div>
}
@Html.ActionLink("Back to List", "Index",  "Interactions")