@model IEnumerable<ConversationBuilder.DataModels.ArmLocation>

@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles {
	<link rel="stylesheet" href="~/css/themes/@ViewBag.CssFile" />	
}


<h3>Arm movement</h3>
<hr />
<h3 style="color:red">@ViewBag.Message</h3>
<p>
	@Html.ActionLink("Create New", "Create",  "ArmLocations")
</p>

<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Name)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.MinLeftArm)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.MinRightArm)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.MaxLeftArm)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.MaxRightArm)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.DelayBetweenMovements)
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
@foreach (var item in Model) {
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.Name)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.MinLeftArm)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.MinRightArm)
			</td>			
			<td>
				@Html.DisplayFor(modelItem => item.MaxLeftArm)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.MaxRightArm)
			</td>	
			<td>
				@Html.DisplayFor(modelItem => item.DelayBetweenMovements)
			</td>		
			<td>
				@Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
				@Html.ActionLink("Details", "Details", new { id=item.Id }) |
				@Html.ActionLink("Delete", "Delete", new { id=item.Id })
			</td>
		</tr>
}
	</tbody>
</table>