@model ConversationBuilder.ViewModels.LEDTransitionViewModel

@{
	ViewData["Title"] = "Details";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles {
	<link rel="stylesheet" href="~/css/themes/@ViewBag.CssFile" />	
}

<h3>Details for LED transition action @Html.DisplayFor(model => model.Name)</h3>
<hr />
<h5 style="color:red">@ViewBag.Message</h5>

<div>
	<dl class="dl-horizontal">
		<dt>
			@Html.DisplayNameFor(model => model.Id)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.Id)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.Name)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.Name)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.StartingRGB)
		</dt>
		<dd>
			<input asp-for="StartingRGB" class="form-control" disabled=true data-jscolor="{alphaChannel: false, position:'bottom', height:80, backgroundColor:'#333',
						palette:'rgba(0,0,0) #fff #808080 #000 #996e36 #f55525 #ffe438 #88dd20 #22e0cd #269aff #bb1cd4',
						paletteCols:11, hideOnPaletteClick:true}">
		<dt>
			@Html.DisplayNameFor(model => model.EndingRGB)
		</dt>
		<dd>
			<input asp-for="EndingRGB" class="form-control" disabled=true data-jscolor="{alphaChannel: false, position:'bottom', height:80, backgroundColor:'#333',
						palette:'rgba(0,0,0) #fff #808080 #000 #996e36 #f55525 #ffe438 #88dd20 #22e0cd #269aff #bb1cd4',
						paletteCols:11, hideOnPaletteClick:true}">
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.Pattern)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.Pattern)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.PatternTime)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.PatternTime)
		</dd>
		@if(ViewBag.ShowBetaItems)
		{
			<dt>
				@Html.DisplayNameFor(model => model.ManagementAccess)
			</dt>
			<dd>
				@Html.DisplayFor(model => model.ManagementAccess)
			</dd>
		}
		<dt>
			@Html.DisplayNameFor(model => model.Updated)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.Updated)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.Created)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.Created)
		</dd>
	</dl>
</div>
<div>
	@Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
	@Html.ActionLink("Back to List", "Index", "LEDTransitionActions")
</div>
@section Scripts {
	@{await Html.RenderPartialAsync("_ColorPicker");}
}
