@model ConversationBuilder.ViewModels.LEDTransitionViewModel

@{
	ViewData["Title"] = "Edit";
	Layout = "~/Views/Shared/_Layout.cshtml";
	TempData.Keep("Message");
}
@section Styles {
	<link rel="stylesheet" href="~/css/themes/@ViewBag.CssFile" />	
}

<h3>Editing LED transition action @Html.DisplayFor(model => model.Name)</h3>
<hr />
<h5 style="color:red">@ViewBag.Message</h5>

<div class="row">
	<div>
		<form asp-action="Edit">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-group">
				<label asp-for="Name" class="control-label"></label>
				<label title="Try to keep your names descriptive and unique as you will use them in animation creation.">💡</label>
				<input asp-for="Name" class="form-control" />
				<span asp-validation-for="Name" class="text-danger"></span>
			</div>
				<div class="form-group">
				Starting Color
				<label title="The starting LED color for the transition.">💡</label>
			 	<input asp-for="StartingRGB" class="form-control" data-jscolor="{alphaChannel: false, value:'@Model.StartingRGB', position:'bottom', height:80, backgroundColor:'#333',
                          palette:'@Model.EndingRGB #fff #808080 #000 #996e36 #f55525 #ffe438 #88dd20 #22e0cd #269aff #bb1cd4',
                          paletteCols:11, hideOnPaletteClick:true}">
				<span asp-validation-for="StartingRGB" class="text-danger"></span>
			</div>
			
			<div class="form-group">
				Ending Color
				<label title="The ending LED color for the transition.">💡</label>
			 	<input asp-for="EndingRGB" class="form-control" data-jscolor="{alphaChannel: false, value:'@Model.EndingRGB', position:'bottom', height:80, backgroundColor:'#333',
                          palette:'@Model.EndingRGB #fff #808080 #000 #996e36 #f55525 #ffe438 #88dd20 #22e0cd #269aff #bb1cd4',
                          paletteCols:11, hideOnPaletteClick:true}">
				<span asp-validation-for="EndingRGB" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Pattern"></label>
				<label title="The LED color transition pattern.">💡</label>
				<select asp-for="Pattern" class="form-control">
					<option value="None" selected>None</option>
					<option value="Blink">Blink</option>
					<option value="Breathe">Breathe</option>
					<option value="TransitOnce">TransitOnce</option>
				</select>
			</div>
			<div class="form-group">
				<label asp-for="PatternTime " class="control-label"></label>
				<label title="How long one transition of the pattern should take.">💡</label>
				<input asp-for="PatternTime" class="form-control" />
				<span asp-validation-for="PatternTime" class="text-danger"></span>
			</div>
			@if(ViewBag.ShowBetaItems)
			{
				<div class="form-group">
					<label asp-for="ManagementAccess"></label>
					<select asp-for="ManagementAccess" class="form-control">
						<option value="Private">Private</option>
						<option value="Shared">Shared</option>
						<option value="Public" >Public</option>
					</select>
				</div>
			}
			<div class="form-group">
				<input type="submit" value="Save Changes" class="btn btn-default" />
			</div>
		</form>
	</div>
</div>

<div>
	@Html.ActionLink("Back to List", "Index",  "LEDTransitionActions")
</div>

@section Scripts {
	@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
	@{await Html.RenderPartialAsync("_ColorPicker");}
}
