@model ConversationBuilder.DataModels.ConversationGroup

@{
	ViewData["Title"] = "Create";
	Layout = "~/Views/Shared/_Layout.cshtml";
	TempData.Keep("Message");
}
@section Styles {
	<link rel="stylesheet" href="~/css/themes/@ViewBag.CssFile" />	
}


<h3>Create conversation group</h3>
<hr />
<h5 style="color:red">@ViewBag.Message</h5>

<div class="row">
	<div>
		<form asp-action="Create">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-group">
				<label asp-for="Name" class="control-label"></label>
				<label title="Try to keep your names descriptive and unique.">💡</label>
				<input asp-for="Name" class="form-control" />
				<span asp-validation-for="Name" class="text-danger"></span>
			</div>

			<div class="form-group">
				<label asp-for="Description" class="control-label"></label>
				<label title="Optional description.">💡</label>
				<textarea asp-for="Description" class="form-control"></textarea>
				<span asp-validation-for="Description" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="RobotName" class="control-label"></label>
				<label title="Used in inline speech using the {{robotname}} field.">💡</label>		
				<input asp-for="RobotName" class="form-control" />
				<span asp-validation-for="RobotName" class="text-danger"></span>
			</div>

			<div class="form-group">
				<label asp-for="StartupConversation"></label>				
				<select asp-for="StartupConversation" class="form-control">
					<option value="" selected></option>
					@foreach (KeyValuePair<string, string> item in @ViewBag.Conversations)
					{
						<option value="@item.Key">@item.Value</option>
					}
				</select>
			</div>
			<div class="form-group">
				<label asp-for="CharacterConfiguration"></label>
				<select asp-for="CharacterConfiguration" class="form-control">
					<option value="" selected></option>
					@foreach (KeyValuePair<string, string> item in @ViewBag.CharacterConfigurations)
					{
						<option value="@item.Key">@item.Value</option>
					}
				</select>
			</div>
			@if(ViewBag.ShowBetaItems)
			{
				<div class="form-group">
					<label asp-for="ManagementAccess"></label>
					<select asp-for="ManagementAccess" class="form-control">
						<option value="Private">Private</option>
						<option value="Shared">Shared</option>
						<option value="Public" >Public</option>
					</select>
				</div>			
				<div class="form-group">
					<label asp-for="RequestAccess"></label>
					<select asp-for="RequestAccess" class="form-control">
						<option value="None">None</option>
						<option value="Authed">Authed</option>
						<option value="Public" selected>Public</option>
					</select>
				</div>
				<div class="form-group">
					<label asp-for="KeyPhraseRecognizedAudio" class="control-label"></label>
					<input asp-for="KeyPhraseRecognizedAudio" class="form-control" />
					<span asp-validation-for="KeyPhraseRecognizedAudio" class="text-danger"></span>
				</div>
			}
			<div class="form-group">
				<input type="submit" value="Create" class="btn btn-default" />
			</div>
		</form>
	</div>
</div>

<div>
	@Html.ActionLink("Back to List", "Index",  "ConversationGroups")
</div>

@section Scripts {
	@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
