@model ConversationBuilder.DataModels.Conversation

@{
	ViewData["Title"] = "Delete";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles {
	<link rel="stylesheet" href="~/css/themes/@ViewBag.CssFile" />	
}


@{
	var msg = "";
	if(ViewBag.CanBeDeleted)
	{
		msg = "Please confirm deletion of cpnversation " + Model.Name + "?";
	}
	else
	{
		
		msg = "Conversation " + Model.Name + " is in use and cannot be deleted.";
	}
}

<h3>@msg</h3>

<hr />
<h5 style="color:red">@ViewBag.Message</h5>

@if(@ViewBag.CanBeDeleted)
{

	<div>
		<dl class="dl-horizontal">
			<dt>
				@Html.DisplayNameFor(model => model.Id)
			</dt>
			<dd>
				@Html.DisplayFor(model => model.Id)
			</dd>
			<dt>
				@Html.DisplayNameFor(model => model.Name)
			</dt>
			<dd>
				@Html.DisplayFor(model => model.Name)
			</dd>
			<dt>
				@Html.DisplayNameFor(model => model.Description)
			</dt>
			<dd>
				@Html.DisplayFor(model => model.Description)
			</dd>
			<dt>
				@Html.DisplayNameFor(model => model.StartupInteraction)
			</dt>
			<dd>
				@Html.DisplayFor(model => model.StartupInteraction)
			</dd>
			<dt>
				@Html.DisplayNameFor(model => model.NoTriggerInteraction)
			</dt>
			<dd>
				@Html.DisplayFor(model => model.NoTriggerInteraction)
			</dd>
			<dt>
				@Html.DisplayNameFor(model => model.StartingEmotion)
			</dt>
			<dd>
				@Html.DisplayFor(model => model.StartingEmotion)
			</dd>		
			<dt>
				@Html.DisplayNameFor(model => model.InitiateSkillsAtConversationStart)
			</dt>
			<dd>
				@Html.DisplayFor(model => model.InitiateSkillsAtConversationStart)
			</dd>
			@if(ViewBag.ShowBetaItems)
			{
			
				<dt>
					@Html.DisplayNameFor(model => model.ManagementAccess)
				</dt>
				<dd>
					@Html.DisplayFor(model => model.ManagementAccess)
				</dd>
			}
			<dt>
				@Html.DisplayNameFor(model => model.Updated)
			</dt>
			<dd>
				@Html.DisplayFor(model => model.Updated)
			</dd>
			<dt>
				@Html.DisplayNameFor(model => model.Created)
			</dt>
			<dd>
				@Html.DisplayFor(model => model.Created)
			</dd>
		</dl>

		<form asp-action="Delete">
			<input type="submit" value="Delete" class="btn btn-default" /> |
		</form>
	</div>
}
@Html.ActionLink("Back to List", "Index",  "Conversations")