@model IEnumerable<ConversationBuilder.DataModels.CharacterConfiguration>

@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles {
	<link rel="stylesheet" href="~/css/themes/@ViewBag.CssFile" />	
}


<h3>Characters Configurations</h3>
<hr />
<h5 style="color:red">@ViewBag.Message</h5>
<p>
	@Html.ActionLink("Create New", "Create",  "CharacterConfigurations")
</p>
@if(!ViewBag.ShowAllConversations)
{
	<h5>Showing filtered data.</h5>
}
<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Name)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.LogLevel)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.DisplaySpoken)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.HeardSpeechToScreen)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.StartVolume)
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
@foreach (var item in Model) {
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.Name)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.LogLevel)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.DisplaySpoken)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.HeardSpeechToScreen)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.StartVolume)
			</td>
			<td>
				@Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
				@Html.ActionLink("Details", "Details", new { id=item.Id }) |
				@Html.ActionLink("Delete", "Delete", new { id=item.Id })
			</td>
		</tr>
}
	</tbody>
</table>