@model IEnumerable<ConversationBuilder.DataModels.SkillMessage>

@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles {
	<link rel="stylesheet" href="~/css/themes/@ViewBag.CssFile" />	
}

<h3>Skill messages</h3>
<hr />
<h5 style="color:red">@ViewBag.Message</h5>
<p>
	@Html.ActionLink("Create New", "Create",  "SkillMessages")
</p>

@if(!ViewBag.ShowAllConversations)
{
	<h5>Showing filtered data.</h5>
}

<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Name)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.EventName)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Skill)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.IncludeCharacterState)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.IncludeLatestTriggerMatch)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.StreamTriggerCheck)
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
@foreach (var item in Model) {
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.Name)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.EventName)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Skill)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.IncludeCharacterState)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.IncludeLatestTriggerMatch)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.StreamTriggerCheck)
			</td>
			<td>
				@Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
				@Html.ActionLink("Details", "Details", new { id=item.Id }) |
				@Html.ActionLink("Delete", "Delete", new { id=item.Id })
			</td>
		</tr>
}
	</tbody>
</table>