@model ConversationBuilder.DataModels.UserConfiguration

@{
	ViewData["Title"] = "Details";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles {
	<link rel="stylesheet" href="~/css/themes/@ViewBag.CssFile" />	
}

<h3>User Configuration</h3>
<hr />
<h5 style="color:red">@ViewBag.Message</h5>

<div>
	<dl class="dl-horizontal">
		<dt>
			@Html.DisplayNameFor(model => model.UserName)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.UserName)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.OverrideCssFile)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.OverrideCssFile)
		</dd>	
		<dt>
			@Html.DisplayNameFor(model => model.ShowBetaItems)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.ShowBetaItems)
		</dd>
	</dl>
</div>
<div>
	@Html.ActionLink("Edit", "Edit", new { id=Model.Id })
</div>
