@model ConversationBuilder.DataModels.UserConfiguration

@{
	ViewData["Title"] = "Edit";
	Layout = "~/Views/Shared/_Layout.cshtml";
	TempData.Keep("Message");
}
@section Styles {
	<link rel="stylesheet" href="~/css/themes/@ViewBag.CssFile" />	
}

<h3>Updating user configuration</h3>
<hr />
<h5 style="color:red">@ViewBag.Message</h5>

<div class="row">
	<div class="col-md-4">
		<form asp-action="Edit">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-group">
				<label asp-for="UserName" class="control-label"></label>
				<input asp-for="UserName" class="form-control" />
				<span asp-validation-for="UserName" class="text-danger"></span>
			</div>
			
			<div class="form-group">
				<label asp-for="OverrideCssFile" class="control-label"></label>
				<select asp-for="OverrideCssFile" class="form-control">
					<option value="lite" selected></option>
					@foreach (KeyValuePair<string, string> item in @ViewBag.Themes)
					{
						<option value="@item.Key">@item.Value</option>
					}
				</select>
			</div>
			<div class="form-group">
				<div class="checkbox">
					<label>
						<input asp-for="ShowBetaItems" /> @Html.DisplayNameFor(model => model.ShowBetaItems)
					</label>
				</div>
			</div>
			<div class="form-group">
				<div class="checkbox">
					<label>
						<input asp-for="ShowAllConversations" /> @Html.DisplayNameFor(model => model.ShowAllConversations)
					</label>
				</div>
			</div>
			<div class="form-group">
				<label asp-for="AccessTokenList" class="control-label"></label>
				<input asp-for="AccessTokenList" class="form-control" />
				<span asp-validation-for="AccessTokenList" class="text-danger"></span>
			</div>
			<div class="form-group">
				<input type="submit" value="Save Changes" class="btn btn-default" />
			</div>
		</form>
	</div>
</div>

<div>
	@Html.ActionLink("Cancel", "Details",  "UserConfigurations")
</div>

@section Scripts {
	@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
