@model ConversationBuilder.ViewModels.ConversationSpeechHandlerViewModel

@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles {
	<link rel="stylesheet" href="~/css/themes/@ViewBag.CssFile" />	
}


<h3>Managing speech handlers for conversation @Model.ConversationName</h3>
<hr />
<h5 style="color:red">@ViewBag.Message</h5>


@if(Model.SpeechHandlers != null && Model.SpeechHandlers.Count() == @ViewBag.SpeechHandlers.Count)
{
	<h3>All the existing handlers have been added to this conversation.</h3>
}
else
{
	<div class="row">
		<div class="col-md-4">
			<form asp-action="Add">
				<div asp-validation-summary="ModelOnly" class="text-danger"></div>

				<div class="form-group">
					Add handler
					<select asp-for="Handler" class="form-control">
						@foreach (KeyValuePair<string, string> item in @ViewBag.SpeechHandlers)
						{
							if(Model.SpeechHandlers == null || !Model.SpeechHandlers.Any(x => x.Id == item.Key))
							{
								<option value="@item.Key">@item.Value</option>
							}
						}
					</select>
				</div>
				<div class="form-group">
					<input asp-for="ConversationId" class="form-control" value="@Model.ConversationId" type="hidden"> </input>
				</div>
				<div class="form-group">
					<input asp-for="ConversationName" class="form-control" value="@Model.ConversationName" type="hidden"> </input>
				</div>
				<div class="form-group">
					<input type="submit" value="Add" class="btn btn-default" />
				</div>
			</form>
		</div>
	</div>
}


@if(Model.SpeechHandlers != null && Model.SpeechHandlers.Count() > 0)
{
	<div class="row">
		<div class="col-md-4">
			<form asp-action="Remove">
				<div asp-validation-summary="ModelOnly" class="text-danger"></div>

				<div class="form-group">
					Remove handler
					<select asp-for="Handler" class="form-control">
						@foreach (ConversationBuilder.DataModels.SpeechHandler item in Model.SpeechHandlers)
						{
							<option value="@item.Id">@item.Name</option>
						}
					</select>
				</div>
				
				<div class="form-group">
					<input asp-for="ConversationId" class="form-control" value="@Model.ConversationId" type="hidden"> </input>
				</div>
				<div class="form-group">
					<input asp-for="ConversationName" class="form-control" value="@Model.ConversationName" type="hidden"> </input>
				</div>
				<div class="form-group">
					<input type="submit" value="Remove" class="btn btn-default" />
				</div>
			</form>
		</div>
	</div>
}


<h3>Current conversation speech handlers</h3>

<table class="table">
	<thead>
		<tr>
			<th>
				Name
			</th>
			<th>
				Description
			</th>
			<th>
				Exact Matches Only
			</th>
			<th>
				Word Match Rule
			</th>
			<th>
				Utterances
			</th>
		</tr>
	</thead>
	<tbody>
@foreach (var item in Model.SpeechHandlers) {
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.Name)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Description)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.ExactMatchesOnly)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.WordMatchRule)
			</td>
			<td>
				@{
					string utteranceString = item.UtterancesAsString();				
				}
				@utteranceString
			</td>
		</tr>
}
	</tbody>
</table>

<div>
	@Html.ActionLink("Back to Conversation", "Details",  "Conversations", new { id = Model.ConversationId})		
</div>